
/* mi pequeño ajuste de css */

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


#containerViews {

    background-color: #f5f5f5;
}


.img-circle {

    height: 20%;
    border-radius: 30%;
}

.box-search {
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}