
<!-- buscador
Search: <input ng-model="query">
-->
Search: <input ng-model="filtro.title"/>

<div class="table-responsive">


    <table class="table table-striped">
        <thead>
        <tr>
            <th> Portada</th>
            <th>Título</th>
            <th>Grupo</th>
            <th>Género</th>
            <th>Año</th>
            <th>Favorito</th>
        </tr>
        </thead>

        <tbody>

        <tbody>
        <tr ng-repeat="album in albums | filter:filtro" entity-album album="album">

        </tr>
        </tbody>


    </table>

</div>