<!-- buscador
Search: <input ng-model="query">
-->
Search: <input ng-model="filtro.name"/>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Grupo</th>
            <th>Nombre</th>
            <th>Origen</th>
            <th>Nº componentes</th>
            <th>Nº álbums</th>
            <th>Miembros</th>
            <th>Favorito</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="band in bands | filter:filtro" entity-band band="band">



        </tr>
        </tbody>

    </table>

</div>