<!-- buscador
Search: <input ng-model="query">
-->
Search: <input ng-model="filtro.name"/>
<div class="table-responsive">


    <table class="table table-striped">
        <box-search ng-model="filtro.title"></box-search>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Nº álbums</th>
            <th>Álbums</th>
            <th>Favorito</th>
        </tr>
        </thead>


        <tbody>
        <tr  ng-repeat="genre in genres | filter:filtro" entity-genres genre="genre" >




        </tr>


        </tbody>

    </table>

</div>