<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Nº álbums</th>
            <th>Álbums</th>
            <th>Favorito</th>
        </tr>
        </thead>


        <tbody>
        <tr  ng-repeat="genre in genres">

            <td>
                {{ genre.name }}
            </td>
            <td>
                {{ genre.albums.length }}
            </td>
            <td > <p ng-repeat="album in genre.albums">
                {{album.title}}
                </p>
            </td>
            <td></td>

        </tr>


        </tbody>

    </table>

</div>